<div class="admin-dashboard-container">
  <h1>👑 Admin Control Panel</h1>

  <div class="dashboard-buttons">
    <button (click)="goToManageCategories()">📂 Manage Categories</button>
    <button (click)="goToManageSubCategories()">📂 Manage SubCategories</button>
    <button (click)="goToManageUsers()">👥 Manage Users</button>
    <button (click)="goToApproveReports()">📝 Manage Reports</button>
    <button (click)="goToSuccessStories()">📝 Manage Success Stories</button>
    <button (click)="goToManageHelplines()">📞 Manage Helplines</button>
    <button (click)="goToAnalytics()">📊 Analytics</button>
    <button (click)="goToSettings()">⚙️ Settings</button>
  </div>
</div>
